.root {
  flex: 1;
  background-color: yellow;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;

}
.app-header {
  padding: 3px;
  height: 25px;
  text-align: center;
  background-color: coral;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.messages-container {
  height: 100px;
  background-color: greenyellow;
  width: 100%;
}

.message {
  background-color: orange;
  height: 30px;
  border-radius: 25px;
  padding: 5px;
  min-width: 50px;
  display: flex;
  flex-direction: column;
}

.chat-input {
  padding-top: 5px;
  display: flex;
}
.chat-input input {
  flex: 1;
}
.time {
  font-size: 9px;
}

.chat-container {
  display: flex;
  padding: 3px;
  background-color: rebeccapurple;
}
 .message-list{
     height: 300px;
  overflow: scroll;
 }